.about {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
.heading {
  width: 30%;
  font-size: 1.15rem;
}
._img {
  margin: 2rem;
  width: 30%;
  height: 300px;
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.51);
  flex-shrink: 0;
}
._content_wrapper {
  width: 60%;
  padding-left: 2rem;
}
.contact-btn {
  margin-right: 20px;
  text-decoration: none;
  color: #464646;
}
.contact-btn:hover {
  margin-right: 20px;
  text-decoration: none;
  background-color: #ec704c;
}
@media (max-width: 1024px) {
  .about {
    margin: 0 auto;
    width: 95%;
  }
  ._img {
    width: 35%;
    height: 250px;
  }
  ._content_wrapper {
    width: 65%;
  }
}
@media (max-width: 768px) {
  .about {
    margin: 0 auto;
    flex-direction: column;
    width: 95%;
  }
  ._img {
    width: 80%;
    max-width: 300px;
    height: 200px;
  }
  ._content_wrapper {
    width: 100%;
    padding-left: 0;
    margin-top: 1rem;
  }
}